<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYGIAOVIEN.Properties.Settings.QLGVConnectionString"
            connectionString="Data Source=ASUS-PC\SQLEXPRESS1;Initial Catalog=QLGV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUANLYGIAOVIEN.Properties.Settings.QLGVConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLGV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUANLYGIAOVIEN.Properties.Settings.QuanLyGiaoVienTieuHocConnectionString"
            connectionString="Data Source=DESKTOP-RQCS9A5\BIENCUTE;Initial Catalog=QuanLyGiaoVienTieuHoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>